<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:c="http://www.springframework.org/schema/c" xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:lang="http://www.springframework.org/schema/lang"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-3.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">

	<!-- <bean name="/welcome" class="cn.smbms.controller.WelcomeController"></bean> -->
	<context:component-scan base-package="cn.stu.controller" />
	<mvc:annotation-driven>

		<!-- json传递数据时中文乱码问题 消息转换器 一次配置永久使用 -->
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
			</bean>
			<!-- json传递数据时日期格式问题 配置FastJson的消息转换器 -->
			 <bean
				class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/html;charset=UTF-8</value>
						<value>application/json</value>
					</list>
				</property>
				<property name="features">
					<list>
						
						<value>WriteDateUseDateFormat</value>
					</list>
				</property>
			</bean> 
		</mvc:message-converters>
	</mvc:annotation-driven>



	<!-- 自定义格式化转换 -->
	<!-- <bean id="myConversionService" class="org.springframework.context.support.ConversionServiceFactoryBean"> 
		<property name="converters"> <list> <bean class="cn.smbms.tools.StringtoDateConverter"> 
		<constructor-arg type="java.lang.String" value="yyyy-MM-dd"/> </bean> </list> 
		</property> </bean> -->



	<!-- 引入静态文件 -->
	<!-- <mvc:resources location="/calendar/" mapping="/calendar/**" />
	<mvc:resources location="/css/" mapping="/css/**" />
	<mvc:resources location="/images/" mapping="/images/**" />
	<mvc:resources location="/js/" mapping="/js/**" />
	
 -->
 	<mvc:resources location="/js/" mapping="/js/**"></mvc:resources>
 

	<!-- 多视图配置器 -->
	<bean
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="favorParameter" value="true"></property>

		<property name="defaultContentType" value="text/html"></property>
		<property name="mediaTypes">
			<map>
				<entry key="html" value="text/html;charset=UTF-8" />
				<entry key="json" value="application/json;charset=UTF-8" />
				<entry key="xml" value="application/xml;charset=UTF-8" />
			</map>
		</property>
		<property name="viewResolvers">
			<list>
				<!-- 视图配置器 jsp技术 -->
				<bean
					class="org.springframework.web.servlet.view.InternalResourceViewResolver">
					<property name="prefix" value="/WEB-INF/jsp/" />
					<property name="suffix" value=".jsp" />
				</bean>
			</list>
		</property>
	</bean>






	<!-- 配置MultipartResolver解析器 用于文件上传 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 上传上限 -->
		<property name="maxInMemorySize" value="5000000"></property>
		<!-- 格式 jsp的格式编码要一致 -->
		<property name="defaultEncoding" value="UTF-8"></property>

	</bean>

	<!-- 全局异常处理 -->
	<bean
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.Exception">error</prop>
			</props>
		</property>
	</bean>
	<!-- 拦截器验证非法登录 -->
	<!-- <mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/sys/**" />
			<bean class="cn.smbms.interceptor.SysInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors> -->
</beans>




